:root {
  --font-type: Futura, Arial, sans-serif;
  --main-black: #000000;
  --main-white: #ffffff;
  --dark-blue: #2149fe;
  --very-light-grey: #cdcdcd;
  --light-blue: #81cffa;
  --main-grey: #cdcdcd;
  --light-grey: #f4f4f4;
  --medium-grey: #a6a6a6;
  --main-green: #8cc27b;
  --main-orange: #d95214;
}
body {
  margin: 2em;
  font-family: var(--font-type);
}

nav {
  font-size: 20px;
  line-height: 2.125rem;
}

.header {
  color: var(--main-black);
  margin-left: 2.5rem;
}

.login-btn {
  background-color: var(--dark-blue);
  color: var(--main-white);
  font-size: 12px;
  padding-left: 1rem;
  max-width: 100%;
  margin-left: 1rem;
  border-color: var(--dark-blue);
}

img {
  margin-right: 0.3rem;
}

.navbar-logo {
  max-width: 8rem;
  margin-top: -1rem;
}

.language-seperator {
  color: var(--very-light-grey);
  font-size: x-large;
  margin-top: 0.2rem;
}

.main-pic-class {
  background-image: url(images/main-pic.svg);
  background-size: cover;
  background-position: top;
  position: relative;
  height: 100vh;
}

 h1 {
  max-width: 80%;
  font-weight: 800;
  color: var(--main-white);
  line-height: 5rem;
  font-size: 3.75rem;
}

.mini-title {
  font-weight: 700;
  font-size: 1.25rem;
  padding-top: 3rem;
}

.info {
  max-width: 40%;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2.188rem;
  padding-top: 3rem;
  padding-bottom: 10rem;
}

 .get-started {
  max-height: 6%;
  width: 9%;
  background-color: var(--dark-blue);
  color: var(--main-white);
  border-radius: 0.2rem;
  border: none;
  font-weight: 500;
  text-align: center;
  padding: 1.5rem;
  margin-top: 10rem;
  margin-bottom: 20rem;
}

 .apple-store {
  height: 6%;
  width: 9%;
  border: none;
  background-color: transparent;
  padding-top: 3rem;
  margin-top: 10rem;
}
.play-store {
  height: 6%;
  width: 9%;
  border: none;
  background-color: transparent;
  padding-top: 3rem;
  margin-top: 10rem;
}
.app-gallery {
  height: 6%;
  width: 9%;
  border: none;
  background-color: transparent;
  padding-top: 3rem;
  margin-top: 10rem;
}